<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= "Navigation:" %>
    <%= link_to "Home", root_path%>
    <%= link_to "Appearances"  , appearances_path %>
    <%= link_to "Guests"  , guests_path %>
    <%= link_to "Episodes"  , episodes_path %>
    <% if session[:user_id] %>
    <%= link_to "logout", :controller=> "sessions", :action=> "destroy" %>
    <%end%>
    <%= yield %>
  </body>
</html>
